{% extends "base.html" %}

{% block script_content %}
	<script>

$(document).ready(function() {
  	worker();
});

function worker() {
    $.ajax({
    	url: '/ajax/share_card_query/',
    	data: {'player':'{{player}}'},
    	success: function (data) {
    		console.log(data.response)
    		if (data.response) {
    			alert("You got a card:"+data.card_text);
    		} 
      	},
      	complete: function () {
      		setTimeout(worker, 10000);
      	}
	});
}
	</script>
{% endblock %}


{% block main_content %}
	<h1>{{player}}</h1>
	
	<div class="container">
  		<div class="row">
    		<div class="col-6">
    			<h2>Your Sheet</h2>
				<form  action="." method="post" id="share-card-form">
					{% csrf_token %}
					{{ form.as_ul}}
					<input type="submit" value="Share Card">
				</form>
    		</div>
    		<div class="col-6">
      			<h2>Your Cards</h2>
      			{% for card in cards %}
      				<p>{{card}}</p>
      			{% endfor %}
    		</div>
		</div>
	</div>


{% endblock %}
